.Home{ /*Div Principal Antes do Fundo*/
	top: 15px;	
    min-height: 100%;
    width: 100%;
}

.fundo{ /*background das configurações*/
	background-color: white;
	padding: 19px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 100%;
}

.caixaSeparacao{

}
.radioDivisao{/*Estrutura para o "radio" ficar ao lado do texto: "Plano Cartesiano/Polar"*/

}

.MiniMapa{
	display: flex;
}
.radioclass{
	margin: auto;
	
}